@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@900&family=Roboto+Slab&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: LightSeaGreen;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}

.navbar {
  background-color: black;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
  margin-left: 2rem;
}

.navbar-brand:hover {
  color: white;
}

.todo-table {
  margin: 20px;
  padding: 35px;
  border: 2px solid greenyellow;
  width: 50%;
  height: 36rem;
  margin-top: 7.5rem;
  background-color: greenyellow;
  border-radius: 10px;
  margin-left: 16rem;
}

#message {
  width: 100%;
}

hr {
  color: black;
}

label {
  font-size: 1.5rem;
}

.main-title,
.date-time {
  width: 100%;
  height: 3.2rem;
  border-radius: 5px;
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .navbar-brand {
    margin-left: 1rem;
  }
  .todo-table {
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .todo-table {
    width: 80%;
    margin-left: 10%;
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
  }
  .navbar-brand {
    margin-left: 1rem;
  }
  .todo-table {
    width: 90%;
    margin-left: 5%;
    padding: 20px;
    margin-top: 3rem;
  }
}
